.parent-wrapper{
    margin:0;
    padding:0;
    .dice{
        text-align: center; 
        display: inline-block;
        height: 500px;
        max-width: 600px;
        min-width: 270px;
        margin-top: 10px;
    
    }
    .first-div{
        background-color: dodgerblue;
        color: white;
        margin-left: 40px;
    }
    .second-div{
        border: none;
        margin-top:32px;
        min-width:400px;
        background-color:whitesmoke;
        input{
            border:none;
            border-bottom: 0.5px solid #696969;
            margin-bottom: 20px;
            width: 90%;
        }
        input:focus {
            outline: none;
        }
        .btn{
            width: 90%;
            background-color:#FF4500;
        }
    }
    

}